*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}
#divCard:hover{
    position: relative;
    bottom: 8px;
}

#Loading{
    display: flex;
    align-self: center;
    margin-top: 6rem;

    animation-name: salto;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    @keyframes salto {
        0%{
            position: relative;
            bottom: 30px;
        }
        50%{
            position: relative;
            bottom: -30px;
        }
        100%{
            position: relative;
            bottom: 30px;
        }
    }
}

    
/* @media (min-width: 400px) {
    #card-img{
        width: 75vw !important;
    }
} */