#root{
    .header{
        padding: 0 2rem;
        align-items: center;
        .header-logo{
            .svg{
                border-right: 1px solid white;
                fill: white;
                height: 30px;
            }
        }
        .header-lista{
            display: flex;
            justify-content: space-between;
            #header-list-right{
                display: flex;
                align-items: baseline;
                .header-carrito{
                    height: 28px;
                }
            }
        }
    }

}